body{
    text-align: center;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 20px;
}
.red{
    background-color: #d95980;
    
}
.purple{
    background-color:rgb(163, 79, 163);
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
